
<form class="example-form">
  <h2>Ficha Cadastral</h2>
  <!-- Dados Pessoais -->
  <fieldset> 
    <legend><b>Dados Pessoais</b></legend>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput #nome maxlength="55">
        <mat-hint align="end">{{nome.value.length}} / 55</mat-hint>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput #sobrenome maxlength="55">
        <mat-hint align="end">{{sobrenome.value.length}} / 55</mat-hint>
      </mat-form-field></td>
    </tr></table>

    <div class="radio">
      <mat-radio-group aria-label="Escolha Seu Gênero" color="primary">
        <mat-radio-button class="marg" value="1">Masculino</mat-radio-button>
        <mat-radio-button value="2">Feminino</mat-radio-button>
      </mat-radio-group>
    </div>
    
  
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Data de Nascimento</mat-label>
      <input type="date" matInput>
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>RG</mat-label>
      <input matInput #rg mask="00.000.000" placeholder="00.000.000">
      <mat-hint align="end">{{rg.value.length}} / 10</mat-hint>
    </mat-form-field>
    <br>
  
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>CPF</mat-label>
      <input matInput #cpf mask="000.000.000-00" placeholder="000.000.000-00">
      <mat-hint align="end">{{cpf.value.length}} / 14</mat-hint>
    </mat-form-field>

  </fieldset>

  <!-- Dados de Endereço -->
  <fieldset>
    <legend><b>Dados de Endereço</b></legend>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Ex. Rua da Aurora">
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Ex. 93">
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Ex. Bairro Nobre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option value="AC">Acre</mat-option>
        <mat-option value="AL">Alagoas</mat-option>
        <mat-option value="AP">Amapá</mat-option>
        <mat-option value="AM">Amazonas</mat-option>
        <mat-option value="BA">Bahia</mat-option>
        <mat-option value="CE">Ceará</mat-option>
        <mat-option value="DF">Distrito Federal</mat-option>
        <mat-option value="ES">Espírito Santo</mat-option>
        <mat-option value="GO">Goiás</mat-option>
        <mat-option value="MA">Maranhão</mat-option>
        <mat-option value="MT">Mato Grosso</mat-option>
        <mat-option value="MS">Mato Grosso do Sul</mat-option>
        <mat-option value="MG">Minas Gerais</mat-option>
        <mat-option value="PA">Pará</mat-option>
        <mat-option value="PB">Paraíba</mat-option>
        <mat-option value="PR">Paraná</mat-option>
        <mat-option value="PE">Pernambuco</mat-option>
        <mat-option value="PI">Piauí</mat-option>
        <mat-option value="RJ">Rio de Janeiro</mat-option>
        <mat-option value="RN">Rio Grande do Norte</mat-option>
        <mat-option value="RS">Rio Grande do Sul</mat-option>
        <mat-option value="RO">Rondônia</mat-option>
        <mat-option value="RR">Roraima</mat-option>
        <mat-option value="SC">Santa Catarina</mat-option>
        <mat-option value="SP">São Paulo</mat-option>
        <mat-option value="SE">Sergipe</mat-option>
        <mat-option value="TO">Tocantins</mat-option>
        <mat-option value="EX">Estrangeiro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Ex. Recife">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput #postalCode maxlength="9" placeholder="Ex. 55600-000" mask="00000-000" appearance="outline">
      <mat-hint align="end">{{postalCode.value.length}} / 9</mat-hint>
    </mat-form-field>

  </fieldset>
  
  <!-- Dados de Login -->
  <fieldset>
    <legend><b>Dados de Login</b></legend>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. exemplo@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Imagem de Perfil</mat-label>
      <ngx-mat-file-input formControlName="outline" placeholder="Escolha um arquivo" ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Login do usuário</mat-label>
      <input type="text" matInput #login maxlength="10">
      <mat-hint align="end">{{login.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput #senha maxlength="7">
      <mat-hint align="end">{{senha.value.length}} / 7</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Confirme a senha</mat-label>
      <input type="password" matInput #senha2 maxlength="7"> 
      <mat-hint align="end">{{senha2.value.length}} / 7</mat-hint>
    </mat-form-field>

    <br>
    <button mat-stroked-button type="submit">Enviar</button>
    <button mat-stroked-button type="reset">Limpar</button>
  </fieldset>

</form>



